pipeline/pl_15AppendVariableActivity.json
{
	"name": "pl_15AppendVariableActivity",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.Countries",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "x",
								"value": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Append variable1",
							"type": "AppendVariable",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "output",
								"value": {
									"value": "@variables('x')[0]",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "x",
					"value": {
						"value": "@variables('output')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"Countries": {
				"type": "array",
				"defaultValue": [
					[
						"India"
					],
					[
						"UK"
					],
					[
						"USA"
					]
				]
			}
		},
		"variables": {
			"x": {
				"type": "Array"
			},
			"output": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}