pipeline/pl_22FilterActivity.json
{
	"name": "pl_22FilterActivity",
	"properties": {
		"activities": [
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('Numbers')",
						"type": "Expression"
					},
					"condition": {
						"value": "@greater(item(),3)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "output",
					"value": {
						"value": "@activity('Filter1').output.Value",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Numbers": {
				"type": "Array",
				"defaultValue": [
					1,
					2,
					4,
					5,
					6
				]
			},
			"output": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "ControlFlows"
		},
		"annotations": []
	}
}